[submodule "etc/PIPython"]
	path = etc/PIPython
	url = git@github.com:PI-PhysikInstrumente/PIPython.git
[submodule "etc/camera-interface"]
	path = etc/camera-interface
	url = git@github.com:CaltechOpticalObservatories/camera-interface.git 
[submodule "hispec/util/lakeshore"]
	path = hispec/util/lakeshore
	url = git@github.com:COO-Utilities/lakeshore.git
[submodule "hispec/util/inficon"]
	path = hispec/util/inficon
	url = git@github.com:COO-Utilities/inficon.git
[submodule "hispec/util/gammavac"]
	path = hispec/util/gammavac
	url = git@github.com:COO-Utilities/gammavac.git
[submodule "hispec/util/newport"]
	path = hispec/util/newport
	url = git@github.com:COO-Utilities/newport.git
[submodule "hispec/util/standa"]
	path = hispec/util/standa
	url = git@github.com:COO-Utilities/standa.git
[submodule "hispec/util/thorlabs"]
	path = hispec/util/thorlabs
	url = git@github.com:COO-Utilities/thorlabs.git
[submodule "hispec/util/sunpower"]
	path = hispec/util/sunpower
	url = git@github.com:COO-Utilities/sunpower.git
[submodule "hispec/util/onewire"]
	path = hispec/util/onewire
	url = git@github.com:COO-Utilities/onewire.git

