[submodule "etc/PIPython"]
	path = etc/PIPython
	url = https://github.com/PI-PhysikInstrumente/PIPython
[submodule "etc/camera-interface"]
	path = etc/camera-interface
	url = https://github.com/CaltechOpticalObservatories/camera-interface 
[submodule "hispec/util/lakeshore"]
	path = hispec/util/lakeshore
	url = https://github.com/COO-Utilities/lakeshore
[submodule "hispec/util/inficon"]
	path = hispec/util/inficon
	url = https://github.com/COO-Utilities/inficon
[submodule "hispec/util/gammavac"]
	path = hispec/util/gammavac
	url = https://github.com/COO-Utilities/gammavac
[submodule "hispec/util/newport"]
	path = hispec/util/newport
	url = https://github.com/COO-Utilities/newport
[submodule "hispec/util/standa"]
	path = hispec/util/standa
	url = https://github.com/COO-Utilities/standa
[submodule "hispec/util/thorlabs"]
	path = hispec/util/thorlabs
	url = https://github.com/COO-Utilities/thorlabs
[submodule "hispec/util/sunpower"]
	path = hispec/util/sunpower
	url = https://github.com/COO-Utilities/sunpower
[submodule "hispec/util/onewire"]
	path = hispec/util/onewire
	url = https://github.com/COO-Utilities/onewire
[submodule "hispec/util/xeryon"]
	path = hispec/util/xeryon
	url = https://github.com/COO-Utilities/xeryon

