[submodule "etc/PIPython"]
	path = etc/PIPython
	url = https://github.com/PI-PhysikInstrumente/PIPython
[submodule "etc/camera-interface"]
	path = etc/camera-interface
	url = git@github.com:CaltechOpticalObservatories/camera-interface.git
