# Config file for daemon references across FEI daemons

[Device Control]
atcpress_host = feiinficon
atcpress_port = 8000

[atcfwheel]
host = 192.168.29.100
port = 10010

[atcfwheel-named_pos]
clear = 1
nd2 = 2
nd3 = 3
nd4 = 4
nd5 = 5
nd6 = 6

[yjpiaagim]
host = 192.168.29.100
port = 10013

[yjpiaagim-named_pos]
center = 0.0, 0.0
top_left = -5.0, 5.0